---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="w-full flex flex-col container mx-auto bg-white/50 min-h-[100vh]">

    <!-- <div class="w-full h-[600px] relative">
      <img src="https://3.bp.blogspot.com/-6SKe2pqOTJ8/V91YEbehgnI/AAAAAAAAJ8I/TQ66Y0GGQTsZJ5uCFj2r6JwFzwwIEeIWQCLcB/s1600/7%2B-Caracter%25C3%25ADsticas%2B-de-%2Bun%2B-Maestro-%2BIncre%25C3%25ADble%2B-que-%2Bsus%2B-Alumnos-%2BAdmirar%25C3%25A1n.jpg" alt="" class="object-cover size-full brightness-50">
      <div class="absolute bottom-0 translate-y-1/2 left-0 bg-sky-950 py-4 pl-16 pr-8 rounded-r-full shadow-md shadow-black/50 z-10">
        <h3 class="text-4xl font-semibold text-white">Docentes Web</h3>
        <a href="https://docentes.adventbooks.mx/" rel="noopener noreferrer" target="_blank" class="text-xl font-bold text-blue-300">Sitio Web</a>
      </div>
      <div class="absolute bottom-20 right-10">
        <h3 class="text-xl text-white text-right font-light">Facilita la administración académica, el seguimiento de actividades y la comunicación con tu institución de manera eficiente y centralizada.</h3>
      </div>
    </div>

    <div class="w-full h-[1000px] bg-gray-50">
      
    </div> -->

  </div>
</Layout>