<nav class=" text-white w-full flex items-center justify-between h-[80px] sticky top-0 z-50 ">
    <div class="size-full relative flex flex-row justify-end items-center">
        <img src="/imgs/PeppaLogo.png" alt="" class="h-[150px] w-fit object-contain absolute top-0 left-0 -rotate-12">

        <span class="text-black mr-6 text-xl">Peppa Pig Party: ¡Feliz Cumple!</span>
    </div>

    <!-- <h5 class="font-light text-xl">
        Adminbooks-ecosystem
    </h5> -->
    <!-- <ul class="flex space-x-4 py-1 h-full">
        <li class="nav-a nav-a-before">
            <a href="/" class="size-full flex items-center">Financiero</a>
        </li>
        <li class="nav-a nav-a-before">
            <a href="/docentes" class="size-full flex items-center">Docentes</a>
        </li>
        <li class="nav-a nav-a-before">
            <a href="/alumnos" class="size-full flex items-center">Alumnos</a>
        </li>
        <li class="nav-a nav-a-before">
            <a href="/tutores" class="size-full flex items-center">Tutores</a>
        </li>
    </ul> -->
</nav>
