<nav class="bg-sky-950 text-white px-4 w-full flex space-x-4 items-center justify-between h-[60px] sticky top-0 z-50 shadow-lg shadow-black/20">
    <h5 class="font-light text-xl">
        Adminbooks-ecosystem
    </h5>
    <ul class="flex space-x-4 py-1 h-full">
        <li class="nav-a nav-a-before">
            <a href="/" class="size-full flex items-center">Financiero</a>
        </li>
        <li class="nav-a nav-a-before">
            <a href="/docentes" class="size-full flex items-center">Docentes</a>
        </li>
        <li class="nav-a nav-a-before">
            <a href="/alumnos" class="size-full flex items-center">Alumnos</a>
        </li>
        <li class="nav-a nav-a-before">
            <a href="/tutores" class="size-full flex items-center">Tutores</a>
        </li>
    </ul>
</nav>
